{% extends 'cm_music/layout.html' %}
{% load static %}

{% block body %}

<div id="bio-view">

    <div class="page-title">the cragged isles</div>

    <div id="bio-box" class="bio-box">
        <p>
            Half a world away, plucking out threads from enigmatic days. Music, Music, MUSIC is birthed from experience. 
            An English-American Seattleite, contemporary composer and musician.
        </p>
        <p>
            
            Creativity from this space allowing to express these years, the joy, the pain, the brilliance of the struggle. Fractally dispersing inwardly, there is nothing here that reflects our desired state, for we are not we as we would like to be, but there are examples of current realities, of what in the world just happened; of hope, of calm, of peace, and death by bananas. 
        </p>
        <p>
            Seven years in Seattle and keeping hold of his feet, Craig Morley has traversed experiences, overcoming all to unleash the splash and splatters, the narrative of cinematic storytelling. Ready to unearth the spirit of calling, to look into the abyss until the light illuminates and it will illuminate.
        </p>
        <p>
            No more pop music for this composer with a rock ‘n’ roll background of UK tours and American shows, there’s an urgency in the strings, force in the musical flow, banging in all the instruments (literally), telling the tale, the story, the fight. Flesh, sweat and grit, each track was recorded in less that 6 hours. 
        </p>
        <p>
            Greenlake, stirring dirt in the glass half full. 
        </p>
    </div>


</div>



{% endblock %}