{% extends 'cm_music/layout.html' %}
{% load static %}

{% block body %}

    <div id="home-view">



        <div class="vids-box">
                {% for video in videos %}
                    <div class="vid">
                        <video class="video" src="{% static  video %}"></video>
                    </div>
                {% endfor %}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const videos = document.querySelectorAll('.video')

                videos.forEach(video => {
                    video.addEventListener('mouseover', () => {
                        video.play();
                    })

                    video.addEventListener('mouseout', () => {
                        video.pause();
                        video.currentTime = 0;
                    })
                })
            })
        </script>



    </div>



{% endblock %}