{% extends 'cm_music/layout.html' %}
{% load static %}

{% block body %}

    <div id="home-view">

        <div>  
            <div class="ep-container">
                <img class="ep-cover" src="/static/images/EP/Firewing EP.png" href="https://open.spotify.com/album/569rSaKJjX6zHJF1boizhy?si=Sa-owWjGSLu7vVxlY_VrDg">
            </div>

            <div class="ep-writing">
                THE NEW EP 'Firewing' - OUT NOW
            </div>
        </div>

        <div class="name-title">
            Craig Morley
        </div>


    </div>



{% endblock %}